Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/StarterContent
Content/InfinityBladeGrassLands
Content/KiteDemo
Content/SoulCave
Content/VirtualRealityBP/Maps/MotionControllerMap_BuiltData.uasset
Content/landscapematerial
Saved